body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-left: 7.5%;
  padding-right: 7.5%;
}

a {
  color: #00B7FF;
}

.page-header, h2, h3, h5 {
	text-align: center;
}

#currentTop {
	margin-bottom: 75px;
}

#curName{
	background-color: green;
	color:white;
	padding: 1px;
}

